<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzcircle.monitorservice.dao.TMonitorDurationMapper">

    <resultMap id="BaseResultMap" type="com.bzcircle.monitorservice.model.TMonitorDuration" >
        <result column="id" property="id" />
        <result column="service_type" property="serviceType" />
        <result column="interface_path" property="interfacePath" />
        <result column="execution_time" property="executionTime" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="trance_id" property="tranceId" />
        <result column="produce_time" property="produceTime" />
        <result column="create_time" property="createTime" />
        <result column="interface_name" property="interfaceName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                service_type,
                interface_path,
                execution_time,
                begin_time,
                end_time,
                trance_id,
                produce_time,
                create_time,
                interface_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.bzcircle.monitorservice.model.TMonitorDuration">
        INSERT INTO t_monitor_duration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != serviceType and '' != serviceType">
                service_type,
            </if>
            <if test="null != interfacePath and '' != interfacePath">
                interface_path,
            </if>
            <if test="null != executionTime ">
                execution_time,
            </if>
            <if test="null != beginTime ">
                begin_time,
            </if>
            <if test="null != endTime ">
                end_time,
            </if>
            <if test="null != tranceId and '' != tranceId">
                trance_id,
            </if>
            <if test="null != produceTime and '' != produceTime">
                produce_time,
            </if>
            <if test="null != createTime ">
                create_time,
            </if>
            <if test="null != interfaceName and '' != interfaceName">
                interface_name
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != serviceType and '' != serviceType">
                #{serviceType},
            </if>
            <if test="null != interfacePath and '' != interfacePath">
                #{interfacePath},
            </if>
            <if test="null != executionTime ">
                #{executionTime},
            </if>
            <if test="null != beginTime ">
                #{beginTime},
            </if>
            <if test="null != endTime ">
                #{endTime},
            </if>
            <if test="null != tranceId and '' != tranceId">
                #{tranceId},
            </if>
            <if test="null != produceTime and '' != produceTime">
                #{produceTime},
            </if>
            <if test="null != createTime ">
                #{createTime},
            </if>
            <if test="null != interfaceName and '' != interfaceName">
                #{interfaceName}
            </if>
        </trim>
    </insert>

</mapper>
